:root {
  --primary-brand-color: #4d5ae5;
  --dark-color: #2e2f42;
  --subtle-text-color: #8e8f99;
  --success-color: #31d0aa;
  --text-color: #434455;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --main-bkg-color: #ffffff;
}
body {
  color: var(--text-color);
  background-color: var(--main-bkg-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* Main container */
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Lists */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* Titles and paragraphes */
.title,
.text {
  padding: 0;
  margin: 0;
}
/* Sections */
.section:not(:last-child) {
  padding-bottom: 120px;
  padding-top: 120px;
}
/* Images */
.section .image {
  display: block;
  width: 100%;
  height: auto;
}
/* Links */
.link {
  text-decoration: none;
  color: inherit;
}

/* hidden elements */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Header */
.head {
  display: flex;
  align-items: center;
}
.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

/* Main navigation */
/* Position */
.header .list {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}
.main-nav {
  display: flex;
  align-items: center;
}
.head .list .item + .item {
  margin-left: 40px;
}
/* Colours and fonts */
.main-nav .link {
  color: var(--dark-color);
  font-weight: 600;
}
.main-nav .link:hover,
.main-nav .link:focus {
  color: inherit;
}
.main-nav .link.current {
  color: var(--primary-brand-color);
}
.head-contacts {
  margin-left: auto;
}
.head-contacts .link:hover,
.head-contacts .link:focus {
  color: var(--primary-brand-color);
}
.main-nav .accent,
.footer .accent {
  color: var(--primary-brand-color);
}

/* Logo */
.link.logo {
  margin-right: 77px;

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/* Hero */
.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
  background-color: var(--dark-color);
  color: var(--main-bkg-color);
}
.hero .title {
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  width: 494px;
  margin-left: auto;
  margin-right: auto;
}
/* Features */
.features h3,
.team h3,
.products h2 {
  color: var(--dark-color);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}
.features .list {
  display: flex;
}
.features .item {
  flex-basis: calc((100% - 24px) / 4);
}
.features .item:not(:last-child) {
  margin-right: 24px;
}
.features {
  padding-top: 120px;
}

/* What are we doing */
.doing.section {
  padding-top: 0;
}
.doing h2 {
  color: var(--dark-color);
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.pic .list {
  display: flex;
}
.pic .item {
  flex-basis: calc((100% - 24px) / 3);
}
.pic .item + .item,
.team .card + .card,
.filtr-list .item + .item {
  margin-left: 24px;
}

/* Our team */
.team.section {
  background-color: var(--light-color);
  padding-top: 120px;
  padding-bottom: 120px;
}
.card {
  background-color: var(--main-bkg-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team .list {
  display: flex;
}
.team .card {
  flex-basis: calc((100% - 24px) / 4);
}

.caption {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}
/* Footer */
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--dark-color);
  color: var(--accent-color);
}
.footer .link {
  margin-right: 0;
  color: var(--accent-color);
}
.footer .text {
  width: 264px;
  margin-top: 16px;
}
/* Buttons */
.buttons {
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
}
/* Order-button */
.order {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 48px;

  background-color: var(--primary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--main-bkg-color);
  line-height: 1.19;
}
.order:hover,
.order:focus {
  background-color: #404bbf;
}
/* Portfolio filtr */
.filtr {
  background-color: var(--accent-color);
  color: var(--primary-brand-color);
  line-height: 1.5;
  border: 1px solid #e7e9fc;
  padding: 8px 16px;
}
.filtr:hover,
.filtr:focus {
  background-color: var(--primary-brand-color);
  color: var(--main-bkg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/* Portfolio filtr-list */
.products .filtr-list {
  display: flex;
  margin-bottom: 72px;
  justify-content: center;
}

/* Portfolio products-list */
.products-list {
  display: flex;
  flex-wrap: wrap;
}
.products-list .item {
  margin-bottom: 48px;
  width: 360px;
  margin-right: 24px;
}
.products-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.products-list .item:nth-child(3n) {
  margin-right: 0;
}
.desc {
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  padding-left: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.products.section {
  padding-top: 96px;
  padding-bottom: 120px;
}
